<div class="-columns-2">
  <div class="attributes-key-value"
       [ngClass]="{'-span-all-columns': descriptor.spanAll }"
       *ngFor="let descriptor of group.members; trackBy:trackByName">
    <ng-template [ngIf]="!shouldHideField(descriptor)">
      <div
        class="attributes-key-value--key"
        *ngIf="!descriptor.multiple && descriptor.field">
        <wp-replacement-label [fieldName]="descriptor.name">
          {{ descriptor.label }}
          <span class="required"
                *ngIf="descriptor.field!.required && descriptor.field!.writable"> *</span>
          <attribute-help-text [attribute]="descriptor.name" [attributeScope]="'WorkPackage'"></attribute-help-text>
        </wp-replacement-label>
      </div>
      <div *ngIf="!descriptor.multiple && descriptor.field"
           class="attributes-key-value--value-container">

        <wp-edit-field *ngIf="descriptor.field!.isFormattable"
                       class="wp-edit-formattable-field"
                       [workPackageId]="workPackage.id"
                       [fieldName]="descriptor.name">
        </wp-edit-field>
        <wp-edit-field *ngIf="!descriptor.field.isFormattable"
                       [workPackageId]="workPackage.id"
                       [fieldName]="descriptor.name"
                       [ngClass]="descriptor.field!.type === 'text' ? 'wp-edit-field--text' : '' ">
        </wp-edit-field>
      </div>
      <div
        class="attributes-key-value--key"
        *ngIf="descriptor.multiple">
        <wp-replacement-label [fieldName]="descriptor.name">
          {{ descriptor.label }}
          <attribute-help-text [attribute]="descriptor.name" [attributeScope]="'WorkPackage'"></attribute-help-text>
        </wp-replacement-label>
      </div>
      <div
        *ngIf="descriptor.multiple"
        class="attributes-key-value--value-container -minimal">
        <wp-edit-field [fieldName]="descriptor.fields[0].name"
                       [workPackageId]="workPackage.id"
                       [wrapperClasses]="'-small -shrink'"
                       [displayPlaceholder]="text[descriptor.name][descriptor.fields[0].name]">
        </wp-edit-field>

        <span class="attributes-key-value--value-separator"></span>

        <wp-edit-field [fieldName]="descriptor.fields[1].name"
                       [workPackageId]="workPackage.id"
                       [wrapperClasses]="'-small -shrink'"
                       [displayPlaceholder]="text[descriptor.name][descriptor.fields[1].name]">
        </wp-edit-field>
      </div>
    </ng-template>
  </div>
</div>
